VITE_SUPABASE_URL=https://muxjnzfyrorvxgmbtdvx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_jWzkdrfp_C6TUGC9BgmXiw_dYILgbg1
SUPABASE_PUBLISHABLE_KEY=sb_publishable_jWzkdrfp_C6TUGC9BgmXiw_dYILgbg1
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
SUPABASE_JWKS_URL=https://muxjnzfyrorvxgmbtdvx.supabase.co/auth/v1/.well-known/jwks.json
